.action-result-container {
    gap: unset;
}

.action-summary {
    margin-bottom: 10px;
}

.action-result {
    padding-left: 10px;
}

.action-summary-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; /* This will push items to opposite ends */
}

.action-result-container .action-summary {
    flex-grow: 1;
    margin-right: 8px; /* Maintain some space between summary and button */
    min-width: 0; /* Allow text to wrap if necessary */
}

.action-result-container .action-details-button {
    flex-shrink: 0; /* Prevent button from shrinking */
}